
/* all this is to normalize .css  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
/* Correct the line height in all browsers. */
html {
  cursor: url(./icons8-dog-64.png), auto;
  font-size: 17px;
  line-height: 1.496; /* 1 */
}
/* VER SI PONER LO DE ACA ARRIBA. XQ ROMPIO UN POCO TODO. */

body {
  margin: 0;
}
/* whipes the white at the top */
main {
  display: block;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}


  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
    max-width: 100%;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    line-height: 1.3; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input {
    /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }


  
  html {
    /* 1rem = 10px */
    font-size: 62.5%;
    /* Color variables */
    --primary-color: #32353c  ;
    --secondary-color: #e8e8e8;
    --button_color: linear-gradient(225deg, #181818, #32353c);
    --border_bottom_create: none;
    --box_shadow_create: -4px -4px 4px rgba(255, 255, 255, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset, 0 0 0 rgba(0, 0, 0, 0.56) inset;
    --background_create: #32353c
  ;
    --box_shadow_create_active: inset -5px 5px 10px #191919,
                                inset 5px -5px 10px #292929;
    --background_search: #32353c
  ;
    --box_shadow_search: -2px -2px 2px rgba(255, 255, 255, 0.08), 2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset, -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
    --box_shadow_paginated: -2px -2px 2px rgba(255, 255, 255, 0.08), 2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset, -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
    --box_shadow_paginated_active: -2px -2px 2px rgba(255, 255, 255, 0.08), 2px 2px 2px rgba(0, 0, 0, 0.56), 2px 2px 2px rgba(255, 255, 255, 0.08) inset, -2px -2px 2px rgba(0, 0, 0, 0.56) inset;
    --border_paginated: 0 solid rgba(0, 0, 0, 0);
    --background_paginated: linear-gradient(150deg, #32353c, #222);
    --background_paginated_active:  linear-gradient(330deg, #32353c, #111);
    --background_card: #141414;
    --box_shadow_card: 0 0 0 rgba(255, 255, 255, 0.08), 0 0 0 rgba(0, 0, 0, 0.56), -4px -4px 4px rgba(255, 255, 255, 0.08) inset, 4px 4px 4px rgba(0, 0, 0, 0.56) inset;;
    --color_card: #f2f8ff;
    --imagen_card: -4px -4px 4px rgba(255, 255, 255, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset, 0 0 0 rgba(0, 0, 0, 0.56) inset;
    --select_focus: rgb(0, 183, 255);
    --title_page: #f2f8ff;
    --background_forn: #32353c;
    --box_shadow_forn: -4px -4px 4px rgba(255, 255, 255, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.56), 0 0 0 rgba(255, 255, 255, 0.08) inset, 0 0 0 rgba(0, 0, 0, 0.56) inset;
    --background_input: #141414;
    --background_menu: #222;
  }
  
  /* Color variables if the theme is dark */
  html[data-theme="dark"] {
    --primary-color: #e8e8e8;
    --secondary-color: white;
    --button_color: #e8e8e8;
    --border_bottom_create: 1px solid #e8e8e8;
    --box_shadow_create: 6px 6px 12px #c5c5c5,
                        -6px -6px 12px #ffffff;
    --background_create: #e8e8e8;
    --box_shadow_create_active: inset 4px 4px 12px #c5c5c5,
                                inset -4px -4px 12px #ffffff;
    --background_search: #e8e8e8;
    --box_shadow_search: 6px 6px 12px #ffffff,
                        -6px -6px 12px #c5c5c5;
    --box_shadow_paginated: 6px 6px 12px #c5c5c5,
                            -6px -6px 12px #ffffff;
    --box_shadow_paginated_active:  inset 5px 5px 10px #a9a9aa77,
                                    inset -5px -5px 10px #ffffff7e;
    --border_paginated: 1px solid rgb(255, 255, 255, 0.20);
    --background_paginated: #e8e8e8;
    --background_paginated_active: #e8e8e8;
    --border_paginated_active:  inset 5px 5px 10px #a9a9aa77,
                                inset -5px -5px 10px #ffffff7e;
    --background_card: #f2f2f3;
    --box_shadow_card: inset 5px 5px 10px #a9a9aa77,
                        inset -5px -5px 10px #ffffff7e;
    --color_card: #07182E;
    --imagen_card: -5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a;
    --select_focus: rgb(15, 19, 54);
    --title_page: #000;
    --background_forn: rgb(241, 241, 241);
    --box_shadow_forn: 0 8px 32px #00000080;

  }
  
  .switch{
    cursor: pointer;
    width: 100px;
    margin-top: 21%;
  }

  
    .switch {
      width: 60px;
    }
  