.button_top {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-right: 5%;
  margin-bottom: 8%;

 }

 .body {
  height: 120%;
  width: 100%;
  /* background: url('https://wallpapercave.com/dwp2x/wp9015641.jpg'); */
  /* background: url('https://wallpapercave.com/dwp2x/wp9015368.jpg') 100% 60%; */
  /* background: url('https://wallpapercave.com/dwp2x/wp4821782.jpg'); */
  /* background: url('https://wallpapercave.com/dwp2x/wp9015554.jpg'); */
  background: url('https://wallpapercave.com/dwp2x/wp9015508.jpg');
  background-size: cover;
}


.button_top:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;}

.button_top:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;}

  .container {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }





.card .img {
    width: 5.3em;
    height: 5.3em;
    background: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 1.7em;
    box-shadow: 12px 12px 20px black;
    overflow: hidden;
  }
  .card {
    margin-right: 50%;
    margin-top: 3%;
    margin-bottom: 2%;
    max-width: 35%;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: table;
    align-content: center;
    
    background: url('https://cdn3.vectorstock.com/i/1000x1000/08/92/gold-vintage-greeting-card-on-a-black-background-vector-23400892.jpg') no-repeat 0% 1%;
}

  
  .info {
    font-weight: bolder;
    color: cornsilk;
    display: block;
    text-align: center;
    padding-top: 1 em;
    font-size: 0.5em;

  }


  .button_delete{
    height: 5vh;
    left: 38%;
    
    align-items: center;
    justify-items: center;
    display: inline-block;
    justify-content: center;
    position: absolute;
    margin: 0rem;
    cursor: pointer;
    background-color: black;
    border-radius: 50px;
}

.button_delete button {
    background-color: transparent;
    
    border: none;
    cursor: pointer;
}

.button_delete:active {
    background: var(--background_create);
    box-shadow: var(--box_shadow_create_active);
}
  
.imgg{
  width: 39px;
  height: 49px;
  margin-bottom: 75%;
}