.body {
    padding: 0;
    box-sizing: border-box;
    font-size: 10%;
    background: url('../assets/dogsss.jpg') ;
    background-size: cover;
    height: 120vh;
    justify-content: center;
    display: flex;
    align-items: center;
    /* background: #dff0ff; */
}

.temperament{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    font-size: 300%;

}
.container{

    backdrop-filter: blur(20px);
    margin-bottom: 22%;
    margin-top: 24%;
    background: transparent;
    visibility: visible;
    opacity: 70%;
    width: clamp(30rem, 50vw, 80rem);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 25px 50px -20px black;
    display: flex;
    justify-content: center;
    align-items: center;


    
}

 .form{
    /* border: 1px solid white; SI QUIERO METER RECUADRO  */ 
    border-radius: 10px;
    width: 90%;
} 

.h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
}

.field{
    position: relative;
}

input{
    padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 3px solid white ;
    outline: none;
    color: white;
}

::placeholder{
    opacity: 0;
}

.label{
    left: 2.5rem;
    top: 40%;
    font-size: 2rem;
    pointer-events: none;
}

.btn{
    border: 2px, solid white;
    margin-left: 3rem auto;
    padding: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
}

.but{
    width: 80px;
    
}

  .inputTemperament {
    text-align: center;
    width: 200px;
    height: 25px;
    font-size: 20px;
    align-self: center;
    border-radius: 10px;
    margin-right: 5%;
  } 
  .buttonTemperament {
    width: auto;
    height: 20px;
    font-size: 17px;
    align-self: center;
    border-radius: 10px;
    padding: 0 5px;
  }
  .error {
    color: #9c0404;
    font-size: 14px;
    align-self: center;
  }

  .inputNumber {
    text-align: center;
    width: 95px;
    height: 25px;
    font-size: 14px;
    align-self: center;
    border-radius: 10px;
  }

  .create {
    display: flex;
    justify-content: center;
  }
  .buttonn {
    width: 90px;
    height: 30px;
    font-size: 14px;
    align-self: center;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 2%;
  }