.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    gap: 10px;
    background-image: linear-gradient(to top, darkgrey 0%, #2e2e2e 100%);
    border: solid 3px black;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 3px white;
    color: grey;
    min-height: 43px;
    padding: 0 13px 0 13px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s ease;
  }
  .contain{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2QAS4lXfKcKYYiZ0c_qBFyzpY0IiyAYsATA&usqp=CAU');
/* 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Sr10AQLLZ5jkveSydfA5G9jSLwiaFh4OXECAWlttfmA_UvownSDiAyoEZy0UYHS3IlE&usqp=CAU');
    background-size: cover; */
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button:hover {
    box-shadow: 0px 0px 0px 3px white;
  }
  
  button svg {
    width: 16px;
    height: 100vh;
  }

.body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2QAS4lXfKcKYYiZ0c_qBFyzpY0IiyAYsATA&usqp=CAU');
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Sr10AQLLZ5jkveSydfA5G9jSLwiaFh4OXECAWlttfmA_UvownSDiAyoEZy0UYHS3IlE&usqp=CAU');
  background-size: cover; */

}

.notfound{
  
  width: 100vw;
  height: 100vh;
}


.input {
  border-radius: 10px;
}



.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  position: relative;
  cursor: pointer;
  height: 50px;
  border-radius: 100px;
  border: none;
  background: #333;
  color: #e5e5e5;
  font-weight: 600;
  box-shadow: inset 20px 20px 39px #080a10,
  inset -20px -20px 39px #1b263e;
  font-size: 13px;
  margin-left: 47%;

}

.search::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(35deg, rgb(47, 190, 238), rgb(218, 57, 143), white );
  filter: blur(10px);
}

.search:hover::after {
  animation: rotcirclegr 1s linear infinite;
}

@keyframes rotcirclegr {
  to {
    transform: rotate(360deg);
  }
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
}


.select {
  width: 200px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: black;
  box-shadow: var(--box_shadow_create);
  color: var(--secondary-color);
}



.select:focus {
  color: var(--select_focus);
}


.option{
    padding: 30px;
  
}




.title {
    align-items: center;
    margin-top: 4rem;
    
}


