.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    gap: 10px;
    background-image: linear-gradient(to top, black 0%, #2e2e2e 100%);
    border: solid 3px black;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 3px lightblue;
    color: black;
    min-height: 43px;
    padding: 0 13px 0 13px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s ease;
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button:hover {
    box-shadow: 0px 0px 0px 3px white;
  }
  
  button svg {
    width: 16px;
    height: 100vh;
  }

.body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.container{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQwjG444l7xRM8P4pRxMSu09QBj7D_xrSPXg&usqp=CAU');
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.notfound{
  width: 100vw;
  height: 100vh;
}

html {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQwjG444l7xRM8P4pRxMSu09QBj7D_xrSPXg&usqp=CAU');
  font-size: 17px;
  line-height: 1.496; /* 1 */
}

.input {
  border-radius: 10px;
}

.temperament {
  grid-area: temperament;
  align-self: center;
}
.origin {
  grid-area: breed;
  align-self: center;
}
.order {
  grid-area: order;
  align-self: center;
}
.search {
  grid-area: search;
  width: 50px;
  height: 50px;
  border-radius: 999999px;
  justify-self: center;
  align-self: center;
}