.nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav {

    background-color: black;
    border-bottom: 4px solid rgb(26, 24, 24);
    border-radius: 0;
    margin-bottom: 0;
    padding: 2rem 0;
    z-index: 10;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0;
    padding: 2rem 0;
    z-index: 10;
    height: 70px;
    width: 100%;
    box-shadow: var(--box_shadow_create);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThqpQqQQIH_jnaIHnMXSo3-ZO4k88DZNBung&usqp=CAU');

    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqW0UoRkvSQPaKj9j8Vso2O8H4sfL8P2kTzQ&usqp=CAU'); */
    }

.logo_container {
    display: flex;
    margin-top: 1.1%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 7px;
    padding: 0;
    position: relative;
    z-index: 10;
    height: 40px;
}

.logo_container img {
    height: 65px;
    width: 65px;
    margin-right: 10px;
    margin-top: 4px;
}


.create_button {
    color: var(--secondary-color);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--button_color);
    border: var(--border_bottom_create);
    box-shadow: var(--box_shadow_create);
    cursor: pointer;
    margin-bottom: 2%;
}

.create_button:active {
    color: red;
    background: var(--background_create);
    box-shadow: var(--box_shadow_create_active);
}

.fav{
    color: var(--secondary-color);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--button_color);
    border: var(--border_bottom_create);
    box-shadow: var(--box_shadow_create);
    cursor: pointer;
    margin-bottom: 5%;
    margin-right: 30%;

}


@media (max-width: 768px) {
    .logo_container img {
        height: 45px;
        width: 45px;
    }
}

@media (max-width: 640px) {
    .navbar {
        height: 30px;
    }
    .nav {
        height: 30px;
    }
}