.img{
    height: 400px;
    width: 350px;
    border-radius: 3px;
    transition: 2s;
  }

  

.card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 240px;
    height: 100vh;
    height: 400px;
    margin: 50px;
    box-shadow: 12px 12px 20px black;
    overflow: hidden;
    
}

.intro{
    height: 100px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, 27, .5);
    color: white;
}

.h1{
    margin: 2px;
    font-size: 25px;
}

.p{
    font-size: 18px;
    margin: 26px;
    visibility: hidden;
    opacity: 0%;
}

span{
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}

.container{
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.card:hover .intro {
    height: 200px;
    background: black;
    visibility: visible;
    opacity: 80%;
    transition: .5s;
}

.card:hover .p{
    opacity: 1;
    visibility: visible;
    color: white;
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}

.favContainer{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    z-index: 1;
    gap: 2rem;
    flex-wrap: wrap;
    background: var(--primary-color);
}

.favError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    z-index: 1;
    flex-wrap: wrap;
    height: 100vh;

}

.fav{
    position: absolute;
    top: 38px;
    right: .1px;
    margin: 0.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    
    background-image: url("../assets/corazon.svg");
}
.favActive {
    position: absolute;
    top: 38px;
    right: .1px;
    margin: 0.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    
    background-image: url("../assets/corazon.svg");
}
