.search {
   width: 400px;
   height: 40px;
   line-height: 28px;
   padding: 0 3rem;
   border: 2px solid transparent;
   border-radius: 8px;
   background-color: var(--background_search);
   box-shadow: var(--box_shadow_search);
   font-size: medium;
   font-weight: bold;
   color: var(--secondary-color);
}




  .group{
    display: flex;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: .05%;
    right: 35%;
    max-width: 400px;
 }
 
    
 .search::placeholder {
    color: #9e9ea7;
 }
    
 .search:focus {
    outline: none;
 }
 
 @media (max-width: 480px) {
    .search{
       max-width: 340px;
    }
 }